.loginbgContainer {
    background-image: url('../images/dunepceditedlowpixel.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 90vh;
    width: 100%;
}

.loginForm {
    width: 100%;
    margin: 0 auto;
}